<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
	<h1>About </h1>
		{{>header}}
		<p>This site is create by Gaurav Jand and uses the API feed from dakrsky and mapbox.
		{{>footer}}
	</body>
</html>